:root {
  --color-blue: #00326b;
  --color-grey: #707070;
  --color-gray: #f0f0f0;
  --text-primary: #00326B;
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Open Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #888;
  font-weight: 400;
  background: #f4f7fa;
  position: relative;
  min-height: 100vh;
}

a {
  color: #00326B;
  text-decoration: none;
  
  &.MuiButton-containedPrimary {
    &:hover {
      color: #fff;
    }
  }
}

.text-primary {
  color: var(--text-primary)!important;
}

* {
  box-sizing: border-box;
}

label {
  color: var(--color-blue)!important;
}

.MuiButtonBase-root {
  letter-spacing: 1px!important;
}

h1, h2, h3, h4, h5 {
  margin-top: 0
}

/* font-size by number */
@for $i from 5 through 90 {
  .text-#{$i},
  *.text-#{$i} {
      font-size: #{$i}px!important;
  }
}

// Line height by number

.d-none {
  display: none;
}

.text-gray, .text-grey {
  color: #707070;
}

@for $i from 20 through 40 {
  .lh-#{$i} {
      line-height: #{$i}px!important;
  }
}

.container {
  max-width: 1366px;
}

.titleSignIn {
  font-weight: 700;
  font-size: 30px;
  color: #00326B;
}

.error {
  color: red;
  font-style: italic;
  font-size: 12px;
}